SECRET_KEY=change-this-to-a-random-string-minimum-32-chars
DATABASE_URL=sqlite:///qshield_dev.db
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
ADMIN_USERNAME=admin
ADMIN_PASSWORD=PNBHackathon2026!
CHECKER_USERNAME=checker
CHECKER_PASSWORD=Checker2026!
